@import url('https://fonts.googleapis.com/css2?family=Works+Sans:wght@400;700&family=Amiri&display=swap');

body {
    font-family: 'Amiri', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Works Sans', sans-serif;
}
